.nereels-list {
  position: relative;
  width: 100%;
  height: var(--page-height);
  overflow: auto;
  scroll-snap-type: y mandatory;
  background-color: var(--primary-dark);
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__item {
    position: relative;
    width: 100%;
    height: var(--page-height);
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }

}